<div class="navbar navbar-expand-lg fixed-top bg-secondary" *ngIf='isAuthenticated'>
    <div class="container">
        <a class="navbar-brand color-primary custom-underline" href="/">ContactBase</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Cards</a>
                </li> -->
            </ul>
            <button class="btn" (click)='logout()'> Logout </button> 
        </div>
    </div>
</div>