<div class="card">
    <div class="contact-info">
        <h5>{{contact.first_name}} {{contact.last_name}}</h5>
        <ul>
            <li style='font-weight: 600;'>{{ contact.company }}, {{ contact.title }}</li>
            <li>
        </ul>
        <div class='row no-gutters text-left'>
            <div class='col-6'>
                {{ contact.email }}
            </div>
            <div class='col-6'>
                {{ contact.phone }}
            </div>
        </div>
    </div>
    <div class="business-card">
        <img src="{{contact.imageURL}}">
    </div>
</div>